{
  "env": {
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "comma-dangle": "error"
  }
}
